@use "../" as *;

.footer {
  .footer-navbar {
    background-color: $primary-color;
    padding: 30px 80px;
    display: flex;
    justify-content: space-between;
    @include smallMobile {
      justify-content: center;
      flex-direction: column;
      padding: 20px;
      gap: 32px;
    }
    @include tablet_768 {
      padding: 30px;
      justify-content: space-between;
      flex-direction: row;
      gap: 0;
    }
    @include tabletAndAbove {
      padding: 30px 50px;
    }
    @include laptop {
      padding: 30px 80px;
    }
    // gap: 150px;
    .Logo2 {
      width: 150px;
      @include smallMobile {
        width: 80px;
      }
      @include smallTablet {
        width: 100px;
      }
      @include tablet_768 {
        width: 150px;
      }
    }
    .footer-navbar-ul {
      display: flex;
      @include smallMobile {
        display: block;
      }
      @include tablet_768 {
        display: flex;
      }
      ul {
        display: flex;
        flex-direction: column;
        gap: 32px;
        padding: 15px 0 0;

        &.ul {
          margin-right: 150px;
          @include smallMobile {
            padding: 0 0 32px;
          }
          @include tablet_768 {
            margin-right: 80px;
            padding: 0;
          }
          @include tabletAndAbove {
            margin-right: 150px;
          }
          @include laptop {
            margin-right: 200px;
          }
          @include largerLaptop {
            margin-right: 250px;
          }
        }
        li {
          color: $white;
          text-wrap: nowrap;
          font-size: 14px;
          &:hover {
            color: grey;
          }
        }
      }
    }
    .socials {
      display: flex;
      align-items: flex-end;
      gap: 10px;
      img {
        @include smallMobile {
          width: 30px;
        }
        @include tablet_768 {
          font-size: 60px;
        }
      }
    }
  }
}
