@use "../" as *;
.main {
  .hero-section {
    @include smallMobile {
      flex-direction: column;
      justify-content: unset;
      align-items: unset;
    }
    @include tabletAndAbove {
      flex-direction: row;
      align-items: $align;
      justify-content: $justify;
    }
    .hero-left {
      padding: 0 0 0 80px;
      @include smallMobile {
        padding: 0 20px;
      }
      @include tablet_768 {
        padding: 0 0 0 30px;
      }
      @include tabletAndAbove {
        padding: 0 0 0 50px;
      }
      @include laptop {
        padding: 0 0 0 80px;
      }
      .language-ambassador {
        padding: 0 0 30px;
        @include smallMobile {
          text-wrap: wrap;
        }
        @include tablet_768 {
          text-wrap: nowrap;
        }
      }
      .platform-description {
        width: 610px;
        margin-bottom: 100px;
        @include smallMobile {
          width: 100%;
          margin-bottom: 50px;
        }
        @include tablet_768 {
          width: 610px;
        }
        @include tabletAndAbove {
          width: 450px;
          margin-bottom: 100px;
        }
        @include laptop {
          width: 610px;
        }
      }
      .join-now-btn {
        @include smallMobile {
          margin-bottom: 30px;
        }
        @include tablet_768 {
          margin-bottom: 0;
        }
        a {
          padding: 12px 25px;
          border-radius: 8px;
          color: $white;
          img {
            position: relative;
            top: 4px;
            width: 20px;
            margin-left: 25px;
          }
        }
      }
    }
    .hero-right {
      img {
        &.first-girl-img {
          width: 500px;
          @include smallMobile {
            display: none;
          }
          @include tabletAndAbove {
            width: 400px;
            display: block;
          }
          @include laptop {
            width: 500px;
          }
          @include largerLaptop {
            width: 600px;
          }
        }
        &.second-girl-img {
          width: 100%;
          @include smallMobile {
            display: block;
          }
          @include tabletAndAbove {
            display: none;
          }
        }
      }
    }
  }
  .first-section {
    .packages {
      background-color: #f7f7f7;
      .ambassador-packages {
        padding: 50px 0 0;
        h2 {
          text-align: center;
          // @include smallMobile {
          //   font-size: 20px;
          // }
          // @include tablet_768 {
          //   font-size: 25px;
          // }
        }
        p {
          width: 600px;
          text-align: center;
          margin: 0 auto;
          color: rgba(125, 125, 125, 1);
          @include smallMobile {
            width: 300px;
          }
          @include tablet_768 {
            width: 600px;
          }
        }
      }
      .mainContainer {
        padding: 30px 80px;

        @include smallMobile {
          display: block;
          padding: 30px 20px;
        }

        @include tablet_768 {
          padding: 30px;
        }
        @include tabletAndAbove {
          padding: 30px 50px;
        }
        @include laptop {
          padding: 30px 80px;
        }
        // Row of Cards
        // .cardRow {
        //   display: flex;
        //   justify-content: space-between;
        //   flex-wrap: wrap; // Ensures cards wrap if there's not enough space
        //   width: 100%;
        //   margin-bottom: 20px;
        //   gap: 20px; // Adds spacing between cards
        // }

        // Centered Card
        // .singleCard {
        //   width: 60%;
        //   margin: 0 auto;
        // }
      }

      .card {
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 20px;
        width: 300px; // Fixed width for cards
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

        @include laptop {
          width: 300px;
        }
        @include largerLaptop {
          width: 350px;
        }

        // Nested styles for card elements
        .cardImage {
          width: 15%; // Ensures the image spans the card width
          height: auto; // Maintains aspect ratio
          border-radius: 8px 8px 0 0;
          margin-bottom: 10px; // Adds spacing below the image
        }

        .cardTitle {
          font-size: 1.5rem;
          margin: 10px 0;
          // text-align: center; // Centers the title
        }

        .cardDescription {
          font-size: 1rem;
          color: #555;
          line-height: 1.5;
          // text-align: center; // Centers the description
        }

        .cardLink {
          display: flex;
          align-items: center;
          margin-top: 10px;
          color: #007bff;
          text-decoration: none;

          .arrowIcon {
            margin-left: 5px;
            width: 16px;
          }
        }
      }
    }
  }
  .second-section {
    background-color: #f7f7f7;
    .subscription-section {
      h2 {
        text-align: center;
        padding-top: 50px;
        @include smallMobile {
          width: 300px;
          margin: 0 auto;
        }
        @include smallTablet {
          width: 100%;
        }
      }
      .enterprise-ambassador {
        display: flex;
        justify-content: space-between;
        padding: 50px 80px;
        @include smallMobile {
          flex-direction: column;
          padding: 20px;
        }
        @include tablet_768 {
          flex-direction: column;
          padding: 30px;
        }
        @include tabletAndAbove {
          padding: 50px 50px;
          flex-direction: row;
        }
        @include laptop {
          padding: 50px 80px;
        }
        .enterprise-ambassador-left {
          img {
            &.Man1 {
              width: 450px;
              @include smallMobile {
                width: 100%;
              }
              @include tabletAndAbove {
                width: 450px;
              }
            }
          }
        }
        .enterprise-ambassador-right {
          ul {
            padding-top: 20px;
            li {
              padding-bottom: 25px;
              width: 350px;
              @include smallMobile {
                width: 100%;
              }
              @include tabletAndAbove {
                width: 350px;
              }
              span {
                display: flex;
                gap: 8px;
              }
              img {
                width: 25px;
                @include smallMobile {
                  width: 15px;
                }
                @include smallTablet {
                  width: 20px;
                }
                @include tablet_768 {
                  width: 25px;
                }
              }
            }
          }
          a {
            border: 1px solid #ff9900;
            padding: 8px 20px;
            border-radius: 5px;
            margin-left: 35px;
            background-color: #ff9900;
            color: $black;
          }
        }
      }
    }
  }
}
