@use "../" as *;
.main {
  .hero-section {
    @include smallMobile {
      flex-direction: column;
      justify-content: unset;
      align-items: unset;
    }
    @include tabletAndAbove {
      flex-direction: row;
      align-items: $align;
      justify-content: $justify;
    }
    .hero-left {
      padding: 0 0 0 80px;
      @include smallMobile {
        padding: 0 20px;
      }
      @include tablet_768 {
        padding: 0 0 0 30px;
      }
      @include tabletAndAbove {
        padding: 0 0 0 50px;
      }
      @include laptop {
        padding: 0 0 0 80px;
      }
      .language-ambassador {
        padding: 0 0 30px;
        @include smallMobile {
          text-wrap: wrap;
        }
        @include tablet_768 {
          text-wrap: nowrap;
        }
      }
      .platform-description {
        width: 610px;
        margin-bottom: 100px;
        @include smallMobile {
          width: 100%;
          margin-bottom: 50px;
        }
        @include tablet_768 {
          width: 610px;
        }
        @include tabletAndAbove {
          width: 450px;
          margin-bottom: 100px;
        }
        @include laptop {
          width: 610px;
        }
      }
      .join-now-btn {
        @include smallMobile {
          margin-bottom: 30px;
        }
        @include tablet_768 {
          margin-bottom: 0;
        }
        a {
          padding: 12px 25px;
          border-radius: 8px;
          color: $white;
          img {
            position: relative;
            top: 4px;
            width: 20px;
            margin-left: 25px;
          }
        }
      }
    }
    .hero-right {
      img {
        &.first-girl-img {
          width: 500px;
          @include smallMobile {
            display: none;
          }
          @include tabletAndAbove {
            width: 400px;
            display: block;
          }
          @include laptop {
            width: 500px;
          }
          @include largerLaptop {
            width: 600px;
          }
        }
        &.second-girl-img {
          width: 100%;
          @include smallMobile {
            display: block;
          }
          @include tabletAndAbove {
            display: none;
          }
        }
      }
    }
  }
  .first-section {
    .packages {
      background-color: #f7f7f7;

      .ambassador-packages {
        padding: 50px 0 0;

        h2 {
          text-align: center;
        }

        p {
          width: 600px;
          text-align: center;
          margin: 0 auto;
          color: rgba(125, 125, 125, 1);

          @include smallMobile {
            width: 300px;
          }
        }
      }

      .mainContainer {
        padding: 30px 80px;

        @include smallMobile {
          display: block;
          padding: 30px 20px;
        }

        @include tablet_768 {
          padding: 30px;
        }

        @include tabletAndAbove {
          padding: 30px 50px;
        }
        @include laptop {
          padding: 30px 80px;
        }
      }

      .card {
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 20px;
        width: 300px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

        @include largerLaptop {
          width: 350px;
        }

        .cardImage {
          width: 15%;
          height: auto;
          border-radius: 8px 8px 0 0;
          margin-bottom: 10px;
        }

        .cardTitle {
          font-size: 1.5rem;
          margin: 10px 0;
        }

        .cardDescription {
          font-size: 1rem;
          color: #555;
          line-height: 1.5;
        }

        .cardLink {
          display: flex;
          align-items: center;
          margin-top: 10px;
          color: #007bff;
          text-decoration: none;

          .arrowIcon {
            margin-left: 5px;
            width: 16px;
          }
        }
      }
    }
  }

  .second-section,
  .third-section,
  .fourth-section,
  .fifth-section {
    background-color: #f7f7f7;
    border-bottom: 1px solid;

    .enterprise-ambassador,
    .access-pro-ambassador,
    .diamond-ambassador,
    .premium-ambassador {
      display: flex;
      justify-content: space-between;
      padding: 50px 80px;

      @include smallMobile {
        flex-direction: column;
        padding: 20px;
      }

      @include tablet_768 {
        flex-direction: column;
        padding: 30px;
      }

      @include tabletAndAbove {
        padding: 50px 50px 0;
        flex-direction: row;
      }

      @include laptop {
        padding: 50px 80px 0;
      }

      &-left {
        img {
          &.Man1 {
            @include smallMobile {
              width: 100%;
            }

            @include tabletAndAbove {
              width: 430px;
            }
          }
          &.Man2 {
            @include smallMobile {
              width: 100%;
            }

            @include tabletAndAbove {
              width: 320px;
            }
          }
        }
      }
      &-right {
        img {
          &.GirlImage3 {
            width: 100%;
          }
          &.GirlImage4 {
            @include smallMobile {
              width: 100%;
            }

            @include tabletAndAbove {
              width: 430px;
            }
          }
        }
      }
      &-right,
      &-left {
        ul {
          padding-top: 20px;

          li {
            padding-bottom: 25px;
            width: 350px;

            @include smallMobile {
              width: 100%;
            }

            @include tabletAndAbove {
              width: 400px;
            }

            span {
              display: flex;
              gap: 8px;
            }

            img {
              width: 25px;

              @include smallMobile {
                width: 15px;
              }

              @include smallTablet {
                width: 20px;
              }
            }
          }
        }

        a.subscribe {
          border: 1px solid #ff9900;
          padding: 8px 20px;
          border-radius: 5px;
          margin-left: 35px;
          background-color: #ff9900;
          color: $black;
        }
      }
    }
  }

  // Adjustments for specific sections
  .second-section {
    .subscription-section {
      h2 {
        text-align: center;
        @include smallMobile {
          width: 300px;
          margin: 0 auto;
        }
        @include tablet_768 {
          width: 100%;
        }
      }
    }
  }
  .third-section,
  .fifth-section {
    .access-pro-ambassador-left,
    .premium-ambassador-left {
      @include smallMobile {
        order: 1;
      }
      @include tabletAndAbove {
        order: unset;
      }
    }

    @include tabletAndAbove {
      order: unset;
    }
  }

  .sixth-section {
    background: $tertiaryBG;
    .we-can-help {
      padding: 50px 80px;
      @include smallMobile {
        padding: 20px;
      }
      @include tablet_768 {
        padding: 30px;
      }
      @include tabletAndAbove {
        padding: 50px;
      }
      @include laptop {
        padding: 50px 80px;
      }
      img {
        width: 30%;
        @include smallMobile {
          width: 40%;
        }
        @include tablet_768 {
          width: 30%;
        }
        @include tabletAndAbove {
          width: 25%;
        }
      }
      .first-avatars {
        display: flex;
        justify-content: space-between;
        .Avatar1 {
          padding-top: 50px;
          @include smallMobile {
            padding-top: 20px;
          }
          @include tablet_768 {
            padding-top: 50px;
          }
        }
        .Avatar2 {
          margin-bottom: 50px;
          @include smallMobile {
            margin-bottom: 20px;
          }
          @include tablet_768 {
            margin-bottom: 50px;
          }
        }
      }
      .hear-from-us {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: -60px;
        padding-right: 120px;
        @include smallMobile {
          margin: 0;
          padding: 0;
        }
        @include tablet_768 {
          margin-top: -20px;
          padding: 0;
        }
        @include tabletAndAbove {
          margin-top: -60px;
          padding-right: 120px;
        }
        h2 {
          padding-bottom: 20px;
          font-size: 36px;
          @include smallMobile {
            font-size: 16px;
          }
          @include tablet_768 {
            font-size: 30px;
          }
          @include tabletAndAbove {
            font-size: 36px;
          }
        }
        p {
          width: 470px;
          text-align: center;
          padding-bottom: 20px;
          color: rgba(86, 117, 146, 1);
          @include smallMobile {
            width: 300px;
            font-size: 13px;
          }
          @include tablet_768 {
            width: 470px;
            font-size: 16px;
          }
        }
        a {
          padding: 8px 20px;
          border: 1px solid #ff9900;
          text-align: center;
          background-color: #ff9900;
          color: $white;
          @include smallMobile {
            padding: 4px 10px;
            font-size: 13px;
            margin-bottom: 20px;
          }
          @include tablet_768 {
            padding: 8px 20px;
            font-size: 16px;
            margin: 0;
          }
          &:hover {
            opacity: 0.6;
          }
        }
      }
      .second-avatars {
        display: flex;
        justify-content: space-between;
      }
      .third-avatar {
        display: flex;
        justify-content: center;
        @include smallMobile {
          margin-top: 20px;
        }
        @include tablet_768 {
          margin: 0;
        }
      }
    }
  }
  .seventh-section {
    background-color: rgba(255, 153, 0, 0.8);
    color: $white;
    .what-we-sell {
      padding: 30px 80px;
      @include smallMobile {
        padding: 20px;
      }
      @include tablet_768 {
        padding: 30px;
      }
      @include tabletAndAbove {
        padding: 30px 50px;
      }
      @include laptop {
        padding: 30px 80px;
      }
      .what-we-sell-text {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
          padding: 30px 0 0;
          @include smallMobile {
            width: 300px;
            text-align: center;
          }
          @include tablet_768 {
            width: 500px;
          }
        }
      }
      .languages {
        display: flex;
        justify-content: space-between;
        padding-top: 40px;

        @include smallMobile {
          flex-direction: column;
          gap: 30px;
        }
        @include tabletAndAbove {
          flex-direction: row;
        }
        p {
          width: 402px;
          @include smallMobile {
            width: 300px;
          }
          @include tabletAndAbove {
            width: 402px;
          }
        }
        .indegenous-language {
          h3 {
            width: 402px;
            text-align: center;
            @include smallMobile {
              text-align: left;
              width: 300px;
            }
            @include tabletAndAbove {
              text-align: center;
              width: 402px;
            }
          }
          p {
            text-align: center;
            @include smallMobile {
              text-align: left;
            }
            @include tabletAndAbove {
              text-align: center;
            }
          }
        }
      }
      .virtual-class {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 600px;
        margin: 0 auto;
        padding-top: 50px;
        @include smallMobile {
          display: block;
          margin: 0;
          padding-top: 30px;
          width: 250px;
        }
        @include tabletAndAbove {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          margin: 0 auto;
          padding-top: 50px;
          width: 600px;
        }
        p {
          text-align: center;
          @include smallMobile {
            text-align: left;
          }
          @include tabletAndAbove {
            text-align: center;
          }
        }
      }
      .learn-more-btn {
        display: flex;
        justify-content: center; /* Centers horizontally */
        align-items: center; /* Centers vertically */
        margin-top: 30px;
        @include smallMobile {
          display: block;
        }
        @include tabletAndAbove {
          display: flex;
          justify-content: center; /* Centers horizontally */
          align-items: center; /* Centers vertically */
          margin-top: 30px;
        }
        a {
          padding: 8px 40px;
          border: 1px solid #52b6ec;
          text-align: center;
          background-color: #52b6ec;
          border-radius: 8px;
          color: $black;
        }
      }
    }
  }
}
