*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  -webkit-hyphens: auto;
  hyphens: auto;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  text-align: initial;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
          text-size-adjust: 100%;
  line-height: 1.3;
}

:root {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  color: #000;
  scroll-behavior: smooth;
}

.black {
  color: black;
}

.bg-primary {
  background-color: #52b6ec;
}

.bg-secondary {
  background-color: #ff9900;
}

.bg-tertiary {
  background-color: grey;
}

.btn {
  font-size: 17px;
  font-weight: 500;
  line-height: 25.5px;
  text-align: center;
  padding: 8px 20px;
  border-radius: 10px;
}
@media only screen and (min-width: 320px) {
  .btn {
    padding: 4px 10px;
  }
}
@media only screen and (min-width: 1024px) {
  .btn {
    padding: 8px 20px;
  }
}

.btn-primary {
  background-color: #52b6ec;
  border: 1px solid #52b6ec;
  color: white;
  cursor: pointer;
}
.btn-primary:hover {
  opacity: 0.6;
}

.btn-secondary {
  background-color: #ff9900;
  border: 1px solid #ff9900;
  color: black;
  cursor: pointer;
}
.btn-secondary:hover {
  opacity: 0.6;
}

.d-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.d-none {
  display: none;
}

.mb-1 {
  margin-bottom: 4px;
}

.mb-2 {
  margin-bottom: 8px;
}

.mb-3 {
  margin-bottom: 12px;
}

.mb-4 {
  margin-bottom: 16px;
}

.mb-5 {
  margin-bottom: 20px;
}

.mt-1 {
  margin-top: 4px;
}

.mt-2 {
  margin-top: 8px;
}

.mt-3 {
  margin-top: 12px;
}

.text-primary {
  color: #52b6ec;
}

.text1 {
  font-size: 20px;
  font-weight: 700;
  line-height: 72px;
}
@media only screen and (min-width: 320px) {
  .text1 {
    font-size: 16px;
  }
}
@media only screen and (min-width: 768px) {
  .text1 {
    font-size: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .text1 {
    font-size: 16px;
  }
}
@media only screen and (min-width: 1200px) {
  .text1 {
    font-size: 20px;
  }
}

.text2 {
  font-size: 22px;
  line-height: 38px;
  font-weight: 500;
  color: rgb(125, 125, 125);
}
@media only screen and (min-width: 320px) {
  .text2 {
    font-size: 16px;
  }
}
@media only screen and (min-width: 768px) {
  .text2 {
    font-size: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .text2 {
    font-size: 16px;
  }
}
@media only screen and (min-width: 1200px) {
  .text2 {
    font-size: 22px;
  }
}

.white {
  color: white;
}

@media only screen and (min-width: 320px) {
  .main .hero-section {
    flex-direction: column;
    justify-content: unset;
    align-items: unset;
  }
}
@media only screen and (min-width: 1024px) {
  .main .hero-section {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
.main .hero-section .hero-left {
  padding: 0 0 0 80px;
}
@media only screen and (min-width: 320px) {
  .main .hero-section .hero-left {
    padding: 0 20px;
  }
}
@media only screen and (min-width: 768px) {
  .main .hero-section .hero-left {
    padding: 0 0 0 30px;
  }
}
@media only screen and (min-width: 1024px) {
  .main .hero-section .hero-left {
    padding: 0 0 0 50px;
  }
}
@media only screen and (min-width: 1200px) {
  .main .hero-section .hero-left {
    padding: 0 0 0 80px;
  }
}
.main .hero-section .hero-left .language-ambassador {
  padding: 0 0 30px;
}
@media only screen and (min-width: 320px) {
  .main .hero-section .hero-left .language-ambassador {
    text-wrap: wrap;
  }
}
@media only screen and (min-width: 768px) {
  .main .hero-section .hero-left .language-ambassador {
    text-wrap: nowrap;
  }
}
.main .hero-section .hero-left .platform-description {
  width: 610px;
  margin-bottom: 100px;
}
@media only screen and (min-width: 320px) {
  .main .hero-section .hero-left .platform-description {
    width: 100%;
    margin-bottom: 50px;
  }
}
@media only screen and (min-width: 768px) {
  .main .hero-section .hero-left .platform-description {
    width: 610px;
  }
}
@media only screen and (min-width: 1024px) {
  .main .hero-section .hero-left .platform-description {
    width: 450px;
    margin-bottom: 100px;
  }
}
@media only screen and (min-width: 1200px) {
  .main .hero-section .hero-left .platform-description {
    width: 610px;
  }
}
@media only screen and (min-width: 320px) {
  .main .hero-section .hero-left .join-now-btn {
    margin-bottom: 30px;
  }
}
@media only screen and (min-width: 768px) {
  .main .hero-section .hero-left .join-now-btn {
    margin-bottom: 0;
  }
}
.main .hero-section .hero-left .join-now-btn a {
  padding: 12px 25px;
  border-radius: 8px;
  color: white;
}
.main .hero-section .hero-left .join-now-btn a img {
  position: relative;
  top: 4px;
  width: 20px;
  margin-left: 25px;
}
.main .hero-section .hero-right img.first-girl-img {
  width: 500px;
}
@media only screen and (min-width: 320px) {
  .main .hero-section .hero-right img.first-girl-img {
    display: none;
  }
}
@media only screen and (min-width: 1024px) {
  .main .hero-section .hero-right img.first-girl-img {
    width: 400px;
    display: block;
  }
}
@media only screen and (min-width: 1200px) {
  .main .hero-section .hero-right img.first-girl-img {
    width: 500px;
  }
}
@media only screen and (min-width: 1440px) {
  .main .hero-section .hero-right img.first-girl-img {
    width: 600px;
  }
}
.main .hero-section .hero-right img.second-girl-img {
  width: 100%;
}
@media only screen and (min-width: 320px) {
  .main .hero-section .hero-right img.second-girl-img {
    display: block;
  }
}
@media only screen and (min-width: 1024px) {
  .main .hero-section .hero-right img.second-girl-img {
    display: none;
  }
}
.main .packages {
  background-color: rgb(250, 250, 250);
}
.main .packages .ambassador-packages {
  padding: 50px 0 0;
}
.main .packages .ambassador-packages h2 {
  text-align: center;
}
.main .packages .ambassador-packages p {
  width: 600px;
  text-align: center;
  margin: 0 auto;
  color: rgb(125, 125, 125);
}
@media only screen and (min-width: 320px) {
  .main .packages .ambassador-packages p {
    width: 300px;
  }
}
@media only screen and (min-width: 768px) {
  .main .packages .ambassador-packages p {
    width: 600px;
  }
}
.main .packages .mainContainer {
  padding: 30px 80px;
}
@media only screen and (min-width: 320px) {
  .main .packages .mainContainer {
    display: block;
    padding: 30px 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .main .packages .mainContainer {
    padding: 30px 50px;
  }
}
@media only screen and (min-width: 1200px) {
  .main .packages .mainContainer {
    padding: 30px 80px;
  }
}
.main .packages .card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  width: 300px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
@media only screen and (min-width: 1200px) {
  .main .packages .card {
    width: 300px;
  }
}
@media only screen and (min-width: 1440px) {
  .main .packages .card {
    width: 350px;
  }
}
.main .packages .card .cardImage {
  width: 15%;
  height: auto;
  border-radius: 8px 8px 0 0;
  margin-bottom: 10px;
}
.main .packages .card .cardTitle {
  font-size: 1.5rem;
  margin: 10px 0;
}
.main .packages .card .cardDescription {
  font-size: 1rem;
  color: #555;
  line-height: 1.5;
}
.main .packages .card .cardLink {
  display: flex;
  align-items: center;
  margin-top: 10px;
  color: #007bff;
  text-decoration: none;
}
.main .packages .card .cardLink .arrowIcon {
  margin-left: 5px;
  width: 16px;
}/*# sourceMappingURL=main.module.css.map */