$primary-color: #52b6ec;
$secondary-color:#ff9900;
$tertiary-color:grey;
$blue-color:blue;
$white:white;
$black:black;
$tertiaryBG:linear-gradient(180deg, #52b6ec 0%, rgba(82, 182, 236, 0) 100%);
$box-shadow: 0 4px 8px rgb(0, 0, 0, 0.2);
$font-size: 16px;
$font-family: "Poppins", sans-serif;
$font-weight: 400;
$font-style: normal;
$justify:space-between;
$align:center;
//MEDIA QUERY
$smallMobile: 320px;
$mediumMobile: 375px;
$largeMobile: 425px;
$smallTablet: 540px;
$tablet_768: 768px;
$tablet_867: 867px;
$tablet_900: 900px;
$tabletAndBelow: 1024px;
$laptop: 1200px;
$largerLaptop: 1440px;

